body{
    margin: 0;
    direction: rtl;
    /* text-align: center; */
} 

.editable:empty:before{
    content: attr(data-placeholder);
    color: #999999;
}

a{
    text-decoration: none;
    color: unset;
}
a:visited{
    color: unset;
}
